# ----------------------------------------
# 仮想環境とPythonのビルド関連
# ----------------------------------------
.venv/
venv/
__pycache__/
*.pyc
*.o
*.so
.python-version
settings.json

# ----------------------------------------
# IDE/OSの設定ファイル
# ----------------------------------------
.vscode/
# PyCharmなどのJetBrains製品の設定
.idea/
# macOSが作る隠しファイル
.DS_Store
# Windowsが作るサムネイルキャッシュ
Thumbs.db
desktop.ini
# エディタのバックアップファイル
*~

# ----------------------------------------
# アタルのプロジェクト固有ファイル
# ----------------------------------------
ROOT/
*.xlsx
# ログファイル
*.log